@if ($movieDetails | async; as movie) {
    <div class="container">
      <div class="row column-md main-head">
        <!-- @if (movie.backdrop_path) {
          <div class="bg-image" [style]="'--backdrop: url(https://image.tmdb.org/t/p/w500'+ movie.backdrop_path+')'"></div>
        } -->
        <div class="poster-section">
          <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path : 'assets/no_poster.jpg'"
            alt="">
            @if (movie.production_companies.length !== 0 && movie.production_companies[0].logo_path) {
              <div class="row justify-content-center network">
                <div class="row align-items-center">
                  <img [src]="'https://image.tmdb.org/t/p/w500'+movie.production_companies[0].logo_path" alt="">
                </div>
                <div class="watch-line">
                  <p>Now Streaming</p>
                  <b>Watch Now</b>
                </div>
              </div>
            }
        </div>
        <div class="tv-details">
          <h3 class="title">{{movie.title ? movie.title : movie.name}}</h3>
          <mat-chip-set aria-label="Fish selection">
            @for (gen of movie.genres; track gen.id) {
              <mat-chip>{{gen.name}}</mat-chip>
              <!-- <span class="genres">{{gen.name}}</span> -->
            }
            <div class="p-tb-1"></div>
          </mat-chip-set>
          <i class="tag-line">{{movie.tagline}}</i>
          <div class="p-tb-1"></div>
          @if (movie.overview) {
            <h4 class="title-header">Overview :</h4>
            <div class="p-t-1"></div>
            <p class="overview">{{movie.overview}}</p>
          }
          @if (movie.created_by && movie.created_by.length !== 0) {
            <h4 class="title-header">Created By:</h4>
            <div class="row">
              @for (director of movie.created_by; track director.id) {
              <div class="director-div" [routerLink]="['/people/popular', director.id]">
                <img class="profile-pic"
                  [src]="director.profile_path ? 'https://image.tmdb.org/t/p/w500'+director.profile_path : 'assets/account_dp.svg'"
                  alt="">
                <p class="overview director-name">{{director.name}}</p>
              </div>
              }
            </div>
            <div class="p-tb-1"></div>
            }
          @if (movie.release_date) {
            <div class="p-tb-1"></div>
            <h6 class="language">Release : <span>{{movie.release_date | date:'longDate'}}</span></h6>
          }
          @if (movie.spoken_languages.length !== 0) {
            <h6 class="language">Languages :
            @for (lag of movie.spoken_languages; track lag.id; let i = $index) {
              <span>{{(movie.spoken_languages.length - 1) === i ? lag.english_name : lag.english_name+", "}}</span>
            }
          </h6>
          }
          @if (movie.videos && movie.videos?.results && movie.videos?.results.length !== 0) {
          <button mat-stroked-button class="button-color" (click)="playTrailer(movie.videos.results[0])">
            <mat-icon>play_arrow</mat-icon>Play Trailer
          </button>
          }
          @if(movie.imdb_id) {
            <div class="p-t-1">
              <a [href]="`https://www.imdb.com/title/${movie.imdb_id}`" target="_blank" rel="IMDB Link">
                <img src="assets/imdb-icon.svg" alt="IMDB Icon">
              </a>
            </div>
          }
        </div>
      </div>
      @if ($cast | async; as castCrew) { 
      <mat-tab-group>
        <mat-tab label="Cast">
          <div class="casts row">
              @for (cast of castCrew.cast; track cast.id) {
                <div class="cast" [routerLink]="['/people/popular', cast.id]">
                  <img [src]="cast.profile_path ? 'https://image.tmdb.org/t/p/w500'+cast.profile_path : 'assets/account_dp.svg'" alt="">
                  <div>
                    <p>{{cast.character}}</p>
                    <p class="department">{{cast.known_for_department}}</p>
                    <p>{{cast.original_name}}</p>
                  </div>
                </div>
              }
            </div>
          </mat-tab>
          <mat-tab label="Crew">
            <div class="casts row">
                @for (item of castCrew.crew; track item.credit_id) {
                  <div class="cast" [routerLink]="['/people/popular', item.id]">
                    <img [src]="item.profile_path ? 'https://image.tmdb.org/t/p/w500'+item.profile_path : 'assets/account_dp.svg'" alt="">
                    <div>
                      <p>{{item.job}}</p>
                      <p class="department">{{item.known_for_department}}</p>
                      <p>{{item.original_name}}</p>
                    </div>
                  </div>
                }
              </div>
  
          </mat-tab>
        </mat-tab-group>
      }
      <app-card-movie-tv [Movies]="$similarMovies" (pages)="nextOrPreviousPage($event)" [MovieClassName]="routeName" [type]="type"></app-card-movie-tv>
    </div>
  }
  