<mat-toolbar class="paginator">
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span>page</span>&nbsp;&nbsp;{{Movies.page}} of {{Movies.total_pages}}
        <button mat-icon-button (click)="pageChange(Movies.page-1)" [disabled]="Movies.page == 1">
            <mat-icon svgIcon="left_arrow"></mat-icon>
        </button>
        <button mat-icon-button (click)="pageChange(Movies.page+1)" [disabled]="Movies.total_pages == Movies.page">
            <mat-icon svgIcon="right_arrow"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>