<div *ngIf="$movieDetails | async as movie" class="container">
  <div class="row column-md main-head">
    <div class="poster-section">
      <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path : 'assets/no_poster.jpg'"
        alt="">
      <div class="row justify-content-center network" *ngIf="movie.production_companies.length !== 0">
        <div class="row align-items-center" *ngIf="movie.production_companies.length !== 0 && movie.production_companies[0].logo_path">
          <img *ngIf="movie.production_companies.length !== 0"
            [src]="'https://image.tmdb.org/t/p/w500'+movie.production_companies[0].logo_path" alt="">
        </div>
        <div class="watch-line">
          <p>Now Streaming</p>
          <b>Watch Now</b>
        </div>
      </div>
    </div>
    <div class="tv-details">
      <h3 class="title">{{movie.title}}</h3>
      <span *ngFor="let gen of movie.genres" class="genres">{{gen.name}}</span>
      <div class="p-tb-1"></div>
      <i class="tag-line">{{movie.tagline}}</i>
      <div class="p-tb-1"></div>
      <h4 class="title-header" *ngIf="movie.overview">Overview :</h4>
      <div class="p-t-1"></div>
      <p class="overview">{{movie.overview}}</p>
      <div class="p-tb-1"></div>
      <h6 class="language" *ngIf="movie.release_date">Release : <span>{{movie.release_date | date:'longDate'}}</span>
      </h6>
      <h6 class="language" *ngIf="movie.spoken_languages.length !== 0">Languages : <span
          *ngFor="let lag of movie.spoken_languages; let i=index">{{(movie.spoken_languages.length - 1) === i ?
          lag.english_name : lag.english_name+", "}}</span></h6>
      <div class="p-tb-1"></div>
      <ng-container *ngIf="movie.videos && movie.videos?.results && movie.videos?.results.length !== 0">
        <button mat-stroked-button class="button-color" (click)="playTrailer(movie.videos.results[0])">
          <mat-icon>play_arrow</mat-icon>Play Trailer
        </button>
      </ng-container>
    </div>
  </div>
  <app-movie [Movies]="$similarMovies" (pages)="nextOrPreviousPage($event)" [MovieClassName]="routeName"></app-movie>
</div>